/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
.leaflet-top {
    
}
.leaflet-bar{
    background-color: transparent;
    margin-top: 100px;
}
.leaflet-control-geocoder {
    background-color: green;
}
.leaflet-top .leaflet-right{
}