/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
.leaflet-control-geocoder {
    color: aliceblue;
    opacity: 0.8;
}
.leaflet-control-geocoder-icon {
    color: whitesmoke;
}
button.leaflet-control-geocoder-icon {
    background-color:  #000080;
}
a.leaflet-control-zoom-in  {
    background-image: linear-gradient(to bottom right, #000080, #000033);
    opacity: 0.75;
}
a.leaflet-control-zoom-out  {
    background-image: linear-gradient(to bottom right, #000080, #000033);
    opacity: 0.75;
}
.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in { color: whitesmoke; }
.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out { color: whitesmoke; }
.leaflet-control-container .leaflet-top .leaflet-control-geocoder  button.leaflet-control-geocoder-icon{ color: whitesmoke; }
